<!DOCTYPE html>
<html>
    <head>
        <title>Grilled Prawn - Foolproof</title>	
        <meta name="viewport" content="width=device-width, initial-scale=1">
         <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet"> 
        <link rel="stylesheet" type="text/css" href="../../components/main.css">
        <link rel="stylesheet" type="text/css" href="grilledPrawn.css">
        

    </head>
    <body>
       <div id="header" class="global-header">
         <!-- persistent Bar Content Starts Here -->
            <div id="persistent_bar_container">
                 <div id="header-container">
                        <!-- LOGO Content Starts Here -->
                        <span id="logo">
                            <div id="prawns_logo">
                                <a href="javascript:void(0)" title="Grilled Prawn Logo" class="left"> <img alt="logo" src="../../images/logo.png" title="logo">
                                </a>
                                <span class="left grilled-prawns-text-style">The grilled Prawn</span>
                            </div>
                        </span>
                        <!-- LOGO Content Ends Here -->
                        <!--Nav Starts-->
                        <div class="nav-link-container about-prawns-width">
                           <a class="nav-link-container-title" href="javascript:void(0);" title="About the Grilled Prawn">
                                <span>About the Grilled Prawn</span>
                            </a>
                        </div>
                      
                         <div class="nav-link-container" >
                           <a class="nav-link-container-title" href="javascript:void(0);" title="Decorations">
                                <span>Decorations</span>
                            </a>
                        </div>
                     
                        <div class="nav-link-container">
                            <a class="nav-link-container-title" href="javascript:void(0);" title="Drinks">
                                <span>Drinks</span>
                            </a>
                        </div>
                        <div  class="nav-link-container">
                            <a class="nav-link-container-title" href="javascript:void(0);" title="Receipes">
                                <span>Receipes</span>
                            </a>
                        </div>
                        <!--Nav Ends-->
                    </div>
                 
            </div>
            <!-- persistent Bar Content Ends Here -->
        </div>
        
        <!--content area starts -->
        <div class="content">
        <div class="image-desc-container">
          <div class="row">
             <div class="col1">
                 <img src="../../images/bakled-polenta-with-italian-sausage.png" alt="Italian Sausage" title="Italian Sausage">
               </div>
             <div class="col2">
              <div class="latest-receipe-style">Latest Receipe</div>
              <p class="receipe-name-style">Baked Polenta with Cheese and Mushrooms</p>
              <p class="receipe-desc-style">Polenta, goat cheese, Italian Sausage, and cremini mushrooms. all together this will make for pretty good darn side dish to a lovely salad. Go for it. </p>
            <div><input type="submit" id="" name="" value="Go to Receipe" class="white-btn-with-arrow"></div>
          </div>
        </div>
        </div>
       

       <!-- multiple products rendering -->
       <div class="cstm-container">
        <h1 class="cstm-heading">Our Recipes</h1>
        <div>
            <button class="accordion" id="filterReciepeAccordion">Filter recipes by</button>
            <div class="cstm-sort">
                <span class="cstm-sort-text">Sort by</span>
                <select name="" class="cstm-select">
                    <option value="newest">Newest First</option>
                    <option value="">Latest</option>
                    <option value="">Older</option>
                    option
                </select>
                <span class="search-receipe-style"><img alt="Kohl's Expect Great Things" src="../../images/search-icon.png" alt="Search Receipe" title="Search Receipe">Search Receipe</span>
            </div>
            
            <div class="panel">
                <div class="cstm-col-md-3">
                    <div class="cstm-box">
                        <p class="mt10">Food type:</p>
                        <ul class="no-style">
                            <li>
                                <label class="check-box">Appetisers
                                    <input type="checkbox">
                                    <span class="checkmark"></span>
                                </label>
                            </li>
                            <li>
                                <label class="check-box">Mains
                                    <input type="checkbox">
                                    <span class="checkmark"></span>
                                </label>
                            </li>
                            <li>
                                <label class="check-box">Desserts
                                    <input type="checkbox">
                                    <span class="checkmark"></span>
                                </label>
                            </li>
                            <li>
                                <label class="check-box">Special Occasions
                                    <input type="checkbox">
                                    <span class="checkmark"></span>
                                </label>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="cstm-col-md-9">
                    <div class="cstm-box">
                        <p class="mt10">Nationality:</p>
                        <div class="cstm-col-md-4">
                            <ul class="no-style">
                                <li>
                                    <label class="check-box">Italian (34)
                                        <input type="checkbox">
                                        <span class="checkmark"></span>
                                    </label>
                                </li>
                                <li>
                                    <label class="check-box">French (30)
                                        <input type="checkbox">
                                        <span class="checkmark"></span>
                                    </label>
                                </li>
                                <li>
                                    <label class="check-box">Spanish (22)
                                        <input type="checkbox" checked>
                                        <span class="checkmark"></span>
                                    </label>
                                </li>
                                <li>
                                    <label class="check-box">Peruvian (3)
                                        <input type="checkbox">
                                        <span class="checkmark"></span>
                                    </label>
                                </li>
                            </ul>
                        </div>
                        <div class="cstm-col-md-4">
                            <ul class="no-style">
                                <li>
                                    <label class="check-box">Italian (34)
                                        <input type="checkbox">
                                        <span class="checkmark"></span>
                                    </label>
                                </li>
                                <li>
                                    <label class="check-box">French (30)
                                        <input type="checkbox">
                                        <span class="checkmark"></span>
                                    </label>
                                </li>
                                <li>
                                    <label class="check-box">Spanish (22)
                                        <input type="checkbox" checked>
                                        <span class="checkmark"></span>
                                    </label>
                                </li>
                                <li>
                                    <label class="check-box">Peruvian (3)
                                        <input type="checkbox">
                                        <span class="checkmark"></span>
                                    </label>
                                </li>
                            </ul>
                        </div>
                        <div class="cstm-col-md-4">
                            <ul class="no-style">
                                <li>
                                    <label class="check-box">Italian (34)
                                        <input type="checkbox">
                                        <span class="checkmark"></span>
                                    </label>
                                </li>
                                <li>
                                    <label class="check-box">French (30)
                                        <input type="checkbox">
                                        <span class="checkmark"></span>
                                    </label>
                                </li>
                                <li>
                                    <label class="check-box">Spanish (22)
                                        <input type="checkbox" checked>
                                        <span class="checkmark"></span>
                                    </label>
                                </li>
                                <li>
                                    <label class="check-box">Peruvian (3)
                                        <input type="checkbox">
                                        <span class="checkmark"></span>
                                    </label>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <br>
        <div>
            <div class="bg-white mlr1 cstm-col-md-2-5">
                <div class="p10">
                    <p class="fs-12 pull-left">5TH MARCH 2016</p>
                    <p class="fs-12 pull-right">THAI</p>
                    <div class="clearfix"></div>
                </div>
                <h2 class="plr10 mt0">Thai Yellow Curry Noodles with Shitake Mushrooms</h2>
                <img src="../../images/1.png" class="cstm-responsive" alt="Image" title="Image">
            </div>
            <div class="bg-white mlr1 cstm-col-md-2-5">
                <div class="p10">
                    <p class="fs-12 pull-left">5TH MARCH 2016</p>
                    <p class="fs-12 pull-right">THAI</p>
                    <div class="clearfix"></div>
                </div>
                <h2 class="plr10 mt0">Thai Yellow Curry Noodles with Shitake Mushrooms</h2>
                <img src="../../images/2.png" class="cstm-responsive" alt="Image" title="Image">
            </div>
            <div class="bg-white mlr1 cstm-col-md-2-5">
                <div class="p10">
                    <p class="fs-12 pull-left">5TH MARCH 2016</p>
                    <p class="fs-12 pull-right">THAI</p>
                    <div class="clearfix"></div>
                </div>
                <h2 class="plr10 mt0">Thai Yellow Curry Noodles with Shitake Mushrooms</h2>
                <img src="../../images/3.png" class="cstm-responsive" alt="Image" title="Image">
            </div>
            <div class="bg-white mlr1 cstm-col-md-2-5">
                <div class="p10">
                    <p class="fs-12 pull-left">5TH MARCH 2016</p>
                    <p class="fs-12 pull-right">THAI</p>
                    <div class="clearfix"></div>
                </div>
                <h2 class="plr10 mt0">Thai Yellow Curry Noodles with Shitake Mushrooms</h2>
                <img src="../../images/4.png" class="cstm-responsive" alt="Image" title="Image">
            </div>
            <div class="clearfix"></div>
        </div>
        <br/><br/><br/>
        <div>
            <div class="bg-white mlr1 cstm-col-md-2-5">
                <div class="p10">
                    <p class="fs-12 pull-left">5TH MARCH 2016</p>
                    <p class="fs-12 pull-right">THAI</p>
                    <div class="clearfix"></div>
                </div>
                <h2 class="plr10 mt0">Thai Yellow Curry Noodles with Shitake Mushrooms</h2>
                <img src="../../images/5.png" class="cstm-responsive" alt="Image" title="Image">
            </div>
            <div class="bg-white mlr1 cstm-col-md-2-5">
                <div class="p10">
                    <p class="fs-12 pull-left">5TH MARCH 2016</p>
                    <p class="fs-12 pull-right">THAI</p>
                    <div class="clearfix"></div>
                </div>
                <h2 class="plr10 mt0">Thai Yellow Curry Noodles with Shitake Mushrooms</h2>
                <img src="../../images/6.png" class="cstm-responsive" alt="Image" title="Image">
            </div>
            <div class="bg-white mlr1 cstm-col-md-2-5">
                <div class="p10">
                    <p class="fs-12 pull-left">5TH MARCH 2016</p>
                    <p class="fs-12 pull-right">THAI</p>
                    <div class="clearfix"></div>
                </div>
                <h2 class="plr10 mt0">Thai Yellow Curry Noodles with Shitake Mushrooms</h2>
                <img src="../../images/7.png" class="cstm-responsive" alt="Image" title="Image">
            </div>
            <div class="bg-white mlr1 cstm-col-md-2-5">
                <div class="p10">
                    <p class="fs-12 pull-left">5TH MARCH 2016</p>
                    <p class="fs-12 pull-right">THAI</p>
                    <div class="clearfix"></div>
                </div>
                <h2 class="plr10 mt0">Thai Yellow Curry Noodles with Shitake Mushrooms</h2>
                <img src="../../images/8.png" class="cstm-responsive" alt="Image" title="Image">
            </div>
            <div class="clearfix"></div>
        </div>
        <br/><br/><br/>
        <div>
            <div class="bg-white mlr1 cstm-col-md-2-5">
                <div class="p10">
                    <p class="fs-12 pull-left">5TH MARCH 2016</p>
                    <p class="fs-12 pull-right">THAI</p>
                    <div class="clearfix"></div>
                </div>
                <h2 class="plr10 mt0">Thai Yellow Curry Noodles with Shitake Mushrooms</h2>
                <img src="../../images/9.png" class="cstm-responsive" alt="Image" title="Image">
            </div>
            <div class="bg-white mlr1 cstm-col-md-2-5">
                <div class="p10">
                    <p class="fs-12 pull-left">5TH MARCH 2016</p>
                    <p class="fs-12 pull-right">THAI</p>
                    <div class="clearfix"></div>
                </div>
                <h2 class="plr10 mt0">Thai Yellow Curry Noodles with Shitake Mushrooms</h2>
                <img src="../../images/10.png" class="cstm-responsive" alt="Image" title="Image">
            </div>
            <div class="bg-white mlr1 cstm-col-md-2-5">
                <div class="p10">
                    <p class="fs-12 pull-left">5TH MARCH 2016</p>
                    <p class="fs-12 pull-right">THAI</p>
                    <div class="clearfix"></div>
                </div>
                <h2 class="plr10 mt0">Thai Yellow Curry Noodles with Shitake Mushrooms</h2>
                <img src="../../images/11.png" class="cstm-responsive" alt="Image" title="Image">
            </div>
            <div class="bg-white mlr1 cstm-col-md-2-5">
                <div class="p10">
                    <p class="fs-12 pull-left">5TH MARCH 2016</p>
                    <p class="fs-12 pull-right">THAI</p>
                    <div class="clearfix"></div>
                </div>
                <h2 class="plr10 mt0">Thai Yellow Curry Noodles with Shitake Mushrooms</h2>
                <img src="../../images/12.png" class="cstm-responsive" alt="Image" title="Image">
            </div>
            <div class="clearfix"></div>
        </div>
        <br/><br/><br/>
        <div>
            <p class="scrollTop" onclick="scrolltop()">Return to the top ^</p>
        </div>
    </div>
   <div class="forma-container-wrapper">
         <div class="form-container" id="form-container-id">
            <div class="spread-the-word">
            Spread the word! 
            </div>
            <div class="newsletter-para">
            <p>Our recipes are awesome, sign up to our newsletter and invite friends to join the Gilled Prawn cult</p>
            </div>
             
             <div id="invite-friends-row2" class="invite-friends-row2 new-style-row">
                    <div class="left"><div class="pb5"><label for="fname">Name</label></div>
                    <div><input type="text" id="first-name" name="firstName" placeholder="First Name" class="form-control"></div></div>
    
            <div class="left"><div class="pb5"><label for="lname">Surname</label></div>
                <div><input type="text" id="last-name" name="lastName" placeholder="Last Name" class="form-control"></div> </div>
                    
                <div class="left">   <div class="pb5"> <label for="email">Email Address</label></div>
                <div> <input type="email" id="email-id1" name="email" placeholder="Email Address" class="form-control quick-search-input"></div></div>
    
                <div class="left remove-friend"> 
                 <img alt="Kohl's Expect Great Things" src="../../images/ic_delete_white.png" alt="Delete" title="Delete"><span>Remove</span>
                 </div> 
                    
            </div>
           
             
             <div id="invite-friends-row2" class="invite-friends-row2 border-style">
                    <div class="left"><div class="pb5"><label for="fname">Name</label></div>
                    <div><input type="text" id="first-name" name="firstName" placeholder="First Name" class="form-control"></div></div>
    
            <div class="left"><div class="pb5"><label for="lname">Surname</label></div>
                <div><input type="text" id="last-name" name="lastName" placeholder="Last Name" class="form-control"></div> </div>
                    
                <div class="left">   <div class="pb5"> <label for="email">Email Address</label></div>
                <div> <input type="email" id="email-id1" name="email" placeholder="Email Address" class="form-control quick-search-input"></div></div>
    
                <div class="left"> <input type="submit" id="btnAddFrnd" name="" value="Add Friend" class="red-btn ml48"></div> 
                    
            </div>
         <div class="clear invite-btn"><input type="button" id="sendInvite" name="" value="Send Invite" class="white-btn-with-arrow trigger">
             </div> 
    </div></div>

    <div class="modal">
            <div class="modal-content">
                <span class="close-button">&times;</span>
                <h2 class="message">Invitations Sent Successfully !!!</h2>
            </div>
        </div>


       
        </div>
      <!--content area ends -->
           <!--footer starts -->
             <footer class="footer-global" role="contentinfo">
                
                <div class="footer-slot">
                
                <div class="footer-links">
                
                <div class="footer-links__category">
                
                <h3 class="footer-links__category__header gotham-medium">Our Recipes</h3>
                
                <ul class="footer-links__category-list list--unstyled">
                <li class="footer-links__category-list__item">All our recipes are tested thoroughly by us to make sure they’re suitable for your kitchen at home. We know many of you are concerned about healthy eating, so we send them to a qualified nutritionist for thorough analysis too.
                        Browse our recipes now</li>
                </ul>
                
                </div>
                
                <div class="footer-links__category">
                
                <h3 class="footer-links__category__header gotham-medium">Grilled Praw’s History</h3>
                
                <ul class="footer-links__category-list list--unstyled">
                <li class="footer-links__category-list__item">The Grilled Prawn is a fictional food blog created in January 2015.</li>
                </ul>
                
                </div>
                
                <div class="footer-links__category">
                
                <h3 class="footer-links__category__header gotham-medium">Tips and Tricks</h3>
                
                <ul class="footer-links__category-list list--unstyled js-d-footer-customer-login">
                
                
                
                <li class="footer-links__category-list__item customer-logged-state">Not sure how to do something? Don’t panic. We have plenty of tutorials for you.
                       <p class="pt10"><a href="#" class="footer-links__category-list__link">Learn more</a></li></p> 
                </ul>
                
                </div>
                
                <div class="footer-links__category">
                
                <h3 class="footer-links__category__header gotham-medium">Help and Contact</h3>
                
                <ul class="footer-links__category-list list--unstyled">
                <li class="footer-links__category-list__item"><p>Struggling with one of the recipes?</p>
                   <p class="email-link-padding"><a href="#" class="footer-links__category-list__link"> Send us an email</a></p>
                       <p> We are always happy to try new things, send us your suggestions!
                        Fill in the form </p></li>
                </ul>
                
                </div>
                
                <div class="footer-links__category">
                
                <ul class="footer-links__category-list list--unstyled">
                <li class="footer-links__category-list__item"><div class="pb11">© The Grilled Prawn</div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed imperdiet, lectus quis interdum viverra, erat mi consectetur mi, a fringilla odio risus vel augue. Mauris tempor ligula fringilla magna iaculis, non vulputate tellus interdum. </p>
                        <p class="pt17">The images and recipes ideas were taken from spoonforkbacon.com and the icons from Google Material Icons.</li></p>
                </ul>
                
                </div>
                
                </div><!-- .footer-links -->
                
                </div>
                
                </footer>
 <!--footer ends -->
        <script src="grilledPrawn.js"></script>
     
    </body>
</html>
